.modal-content {
	padding: 10px !important;
}

.modal-footer {
	border-top: 0px;
}

.modal {
	z-index: 99999999999999 !important;
}

@media (min-width: 992px){
	.modal-lg {
	    width: 90% !important;
	}
}
